{% extends 'navigation.html' %}
{% block body %}
<style>
    /* #ff9800  */
    .warning {
        border-color: rgb(9, 255, 0);
        color: rgb(9, 255, 0);
    }

    .warning:hover {
        background: rgb(9, 255, 0);
        color: white;
    }

</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center" style="font-family: cursive;font-weight: bold;">Already Registered...!! Please Login</h2>
            <hr>
            <h5 class="text-center" style="font-family: cursive;font-weight: bold;">If U are Already Registered Please Login By clicking this Button Below..</h5>
            
            <a href="/userlogin"><button class="btn warning">Login</button></a>
        </div>

        <div class="col-sm-6">
            <h2 class="text-center" style="font-family: cursive;font-weight: bold;">Register With us..</h2>
            <hr>
            <form method="POST" action="/register/">
                {% csrf_token %}
                <div class="mb-3">

                    {{form.as_p}}
                   

                </div>
               <button type="submit" class="btn warning">Register</button>
            </form>
        </div>
    </div>
</div>






{% endblock body %}
